* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}
.App {
    width: 100vw;
    height: 100vh;
}
.Landing-Page-Main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    background-image: url(./images/items-to-pack.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.Landing-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: 2/4/4/8;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.Landing-Page-Image-Cont {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Landing-Page-Image {
    max-width: 13vw;
    max-height: 13vh;
}

.Landing-Page-Sub-Text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.2rem;
}
div.Landing-text h1 {
    font-size: 2.1vw;
    color: #000000;
}
div.Landing-text p {
    font-size: 0.9vw;
    color: #000000;
    padding-top: 0.8rem;
    position: relative;
}
div.Landing-text p::after {
    content: "";
    position: absolute;
    display: block;
    width: 0rem;
    height: 2px;
    background: #ffe14b;
    margin-top: 0.5rem;
    animation: slide 1.7s 800ms ease-in forwards;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
}
.Link {
    text-decoration: none;
}
/* List */
.List-Main {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background-listing.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sub-List-Main {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.MainOff {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    align-items: center;
}
.Form-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1/4/3/8;
}
.Form-Container > h1 {
    margin-bottom: 2vh;
}
.Form-Container > form > input {
    width: 20vw;
    height: 5vh;
}
.Done-Container {
    grid-area: 3/7/10/11;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(9, 231, 9, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50%);
    -webkit-backdrop-filter: blur(50%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2vh;
}
.Undone-Container {
    grid-area: 3/4/10/8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(90%);
    -webkit-backdrop-filter: blur(90%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2vh;
    margin-top: 2vh;
}

.Both-Containers {
    grid-area: 3/1/10/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50%);
    -webkit-backdrop-filter: blur(50%);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.Item-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    font-size: 2vh;
    padding-top: 3vh;
}
.Done-Icons {
    display: flex;
    flex-direction: row;
}
.Done-Icons > i {
    width: 2vw;
    height: 2vh;
    cursor: pointer;

    transition: 300ms ease-in-out;
}
.Item-Name {
}
/* Visuals*/
.fade {
    display: flex;
    width: 100%;
    height: 100%;
}
.pulse-on {
    transition: transform 0.3s;
}
.pulse-on:hover {
    transform: scale(1.1);
    opacity: 1;
}
@keyframes fade {
    0% {
        opacity: 0;
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes slide {
    0% {
        width: 0;
    }
    100% {
        width: 45%;
    }
}
.btn {
    width: 8vw;
    height: 5vh;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    outline: none;
    transition: 300ms ease-in-out;
}

.btn:hover {
    transition: 500ms ease-in-out;
    background: #fae9ad;
}
.pulse-on {
    transition: transform 0.3s;
}
.pulse-on:hover {
    transform: scale(1.1);
    opacity: 1;
}
.Calendar {
    position: relative;
}
.fa-calendar-day {
    margin-right: 0.2rem;
    font-size: 2.5vw;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.calendar-container {
    position: absolute;
    max-width: 300px;
    margin-left: -345px;
    padding: 20px;
    background-color: #dadada;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1.3vh;
    border-radius: 5px;
    z-index: 1;
}

.selected-date {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5vh;
    color: #333;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
